/* CSS Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  font-weight: 500;
}

body {
  color: #fff;
  min-height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
}

button,
input,
textarea {
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: #000000;
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  width: 600px;
  margin: 30px auto;
}

/* Navbar */
.header {
  width: 100%;
  position: absolute;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  max-width: 170px;
  background: #70CB89;
  box-shadow: 0px 4px 11px 3px #354F52;
  border-radius: 15px;
}

.logo-lets {
  font-size: 2rem;
  font-weight: 900;
}

.logo img {
  width: 60px;
  padding: 0 10px;
}

.logo-circle {
  width: 25px;
  height: 25px;
  background: linear-gradient(195deg, #3B726E 0%, #354F52 100%);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.27);
  border: 1px solid rgba(255, 255, 255, 0.63);

  border-radius: 50%;
}

.nav-links a {
  margin: 0px 30px;
  color: hsl(0, 0%, 80%);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  transition: all .3s ease;
}

.nav-links a:hover {
  color: hsl(0, 0%, 100%);
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(239deg, #354F52 29.14%, #52796F 100%);
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-greet {
  width: 100%;
  max-width: 600px;
}

.hero-title {
  margin-top: 4rem;
  font-size: 3.125rem;
  font-weight: 900;
}

.hero-title span {
  color: #71CD8A;
}

.hero-description {
  padding: 1.75rem 0;

  width: 100%;
  max-width: 520px;

  font-size: 1.25rem;
  font-weight: 500;
}

.hero-button {
  padding: 1.2rem 3.25rem;

  border: none;
  outline: none;
  border-radius: 12px;

  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;

  color: #fff;
  cursor: pointer;

  background: linear-gradient(45deg, #71CD8A 0%, #CB2E2D 100%);
  box-shadow: 0px 2px 7px 2px #52887F;

  transition: color .3s ease;
}

.hero-button:hover {
  color: #000;
}

.hero-img {
  position: absolute;
  right: -12%;
}

.AdvCard {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Advantages {
  padding: 20px 0;
}

.AdvCard-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 130px 0;
}

.AdvCardDesc {
  width: 340px;
  font-size: 20px;
  font-weight: 400;
}

.AdvCardTitle {
  font-size: 25px;
  font-weight: 500;
  margin: 5px 0
}

.AdvCard img {
  width: 130px;
}

/* Contact Section */
.contact {
  min-height: 100vh;
  background: linear-gradient(239deg, #354F52 29.14%, #52796F 100%)
}

.contact-title {
  color: #fff;
  padding: 30px 0;
}

.contact-form {
  width: 100%;
  max-width: 480px;

  display: flex;
  flex-direction: column;
}

.contact-inner {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.contact-form input {
  margin: 1rem 0;
  padding: 0 20px;
  height: 60px;

  background: #fff;
  border-radius: 16px;

  outline: none;
  border: none;

  font-size: 20px;
}

.contact-form textarea {
  padding: 20px;
  height: 200px;
  resize: none;

  outline: none;
  border: none;
  border-radius: 16px;
  background: #fff;

  font-size: 20px;
  margin-top: 15px;
}

.submit-button {
  margin-top: 3rem;
  padding: 20px;

  border-radius: 16px;
  background: linear-gradient(46deg, #71CD8A 0%, #C55250 100%);
  box-shadow: 0px 1.7px 6px 1.7px #52887F;

  text-transform: uppercase;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;

  outline: none;
  border: none;

  transition: color .3s ease;
  cursor: pointer;
}

.submit-button:hover {
  color: #000;
}