/* CSS Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  min-height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
}

button {
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */
.header {
  width: 100%;
  position: absolute;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}

.nav-links a {
  margin: 0px 30px;
  color: hsl(0, 0%, 80%);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  transition: all .3s ease;
}

.nav-links a:hover {
  color: hsl(0, 0%, 100%);
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(239deg, #354F52 29.14%, #52796F 100%);
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-greet {
  width: 100%;
  max-width: 600px;
}

.hero-title {
  margin-top: 4rem;
  font-size: 3.125rem;
  font-weight: 900;
}

.hero-title span {
  color: #71CD8A;
}

.hero-description {
  padding: 1.75rem 0;

  width: 100%;
  max-width: 520px;

  font-size: 1.25rem;
  font-weight: 500;
}

.hero-button {
  padding: 1.2rem 3.25rem;

  border: none;
  outline: none;
  border-radius: 12px;
  
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;

  color: #fff;
  cursor: pointer;

  background: linear-gradient(45deg, #71CD8A 0%, #CB2E2D 100%);
  box-shadow: 0px 2px 7px 2px #52887F;
}

.hero-img {
  position: absolute;
  right: -12%;
}